@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #243447;
  color: maroon;
}

.modal-content {
  background-color: #243447;
}

.modal-header {
  border-style: none;
}

.modal-footer {
  border-style: none;
}

.modal-logo {
  text-align: center;
}

.panel {
  height: 80vh;
  border-style: hidden solid hidden hidden;
  border-radius: 50px;
  background-color: #1f2b3a;
  border-color: maroon;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  transition: 0.5s;
}

.panel:hover {
  border-radius: 200px;
}

.panel-text {
  padding-left: 40px;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container-fluid {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
}
