@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

@background-color: #243447;
@card-color: darken(@background-color, 5%);
@accent: #aa0000;

.player-wrapper {
    width: 400px;
    height: 100px;
    background-color: @card-color;
    border-radius: 20px;
    align-items: center;

    .avatar {
        position: relative;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;

        .avatarImage {
            width: 50px;
            height: 50px;
        }
    }

    .info {
        position: relative;
        font-family: Cinzel, serif;
        display: inline !important;
        height: 100%;

        .cardTitle {
            margin-top: 0px;
            font-size: 1.5rem;
            display: inline-block;
        }

        .cardBody {
            display: inline;
        }

        .cardStats {
            display: inline-block;
            position: relative;
        }
    }
}